---
import Layout from "@/layouts/Layout.astro";
import { getEntryBySlug } from "astro:content";

const { slug } = Astro.params;
const entry = await getEntryBySlug("posts", slug);
if (!entry) return Astro.redirect("/404");

const { Content, data } = await entry.render();
---

<Layout frontmatter={data}>
  <h1>{data.title}</h1>
  <Content />
</Layout>


