---
export const prerender = false; // SSR mode

export async function getStaticPaths() {
  const { getCollection } = await import('astro:content');
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

import { AstroError } from 'astro/errors';
const { post } = Astro.props;
if (!post) {
  throw new AstroError(`Post props missing for slug`);
}

const { Content } = await post.render();
const frontmatter = post.data;
---

<Layout frontmatter={frontmatter}>
  <article>
    <h1>{frontmatter.title}</h1>
    <p><em>{frontmatter.pubDate}</em></p>
    <Content />
  </article>
</Layout>
