---
import { isValidDate, fmt } from "@/lib/date";
const { Content, data } = Astro.props;

const d = isValidDate(data.publishDate)
  ? data.publishDate
  : (isValidDate(data.updatedDate) ? data.updatedDate : undefined);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{data.title} • PatientGuide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <article>
      <h1>{data.title}</h1>
      { d ? <p><time datetime={d.toISOString()}>{fmt(d)}</time></p> : null }
      <Content />
    </article>
  </body>
</html>
